@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    max-width: 1500px;
    margin: auto;
}
body .container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.container h1 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
nav li {
    width: 30%;
}
nav li a {
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    border-bottom: 5px solid gray;
}
nav li a:hover {
    background-color: #E8E8E8;
}
nav ul .current {
    border-bottom: 5px solid cornflowerblue;
}
div .home {
    font-size: larger;
    text-align: center;
}
form {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
form div {
    display: flex;
    flex-direction: row;
    max-width: 20%;
    margin: 10px;
}
input {
    padding: 5px;
    font-size: 1em;
    border: 1px solid gray;
}
form span {
    padding: 5px;
    margin: auto;
    border: 1px solid gray;
}
.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-container button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    min-width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid black;
}
button:hover, form span:hover {
    background-color: #87CEFA;
}
#cv {
    padding: 20px;
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 25px;
}
#cv span {
    color: red;
}
.break {
    margin: 10px;
}
@media only screen and (max-width: 900px) {
    form {
        flex-direction: column;
        margin: auto;
    }
    form div {
        margin: 5px;
    }
  }